body{
    background: #f1f1f1;    

}
@media (max-width:800px){
    .parraf{
align-content: center;
margin: 0px;

}
img{  
    width: 400px;
    height: 250px;
    justify-content: center;
    
}
p{
    text-align:center;
}
}
.parraf{
    margin-left:2em;
    margin-right: 2em;
}

h1{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black
}

h2{
    color:black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.centerimage{
    display:block;
    margin: 10px auto;
    width: 400px;
    height: 250px;
}

