body{
    background-color: #f1f1f1;
}

h2{
    color: black;
}

.main{
    text-align: center;
    margin-top: 2rem;
}

.display-4{
    color:black;
    
}

.cardcontainer{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  
 }

 .card{
    transition: 200ms;
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 3px 7px 17px -4px rgba(0,0,0,0.75);
    
}

h5{
    color:black;
}